h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.study-list, .study-input-form {
  text-align: center;
}

/* CSS */
.center {
  width: fit-content;
  margin: auto;
}

/* ここから追記部分 */
label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.content {
  display: flex;
  gap: 20px;
}

.study-list, .study-input-form {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.study-list h2, .study-input-form h2 {
  margin-top: 0;
  color: #444;
}

.study-list ul {
  list-style-type: none;
  padding: 0;
}

.study-list li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-weight: bold;
  color: #007bff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  /* width: 100%; */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.time-input {
  display: flex;
  align-items: center;
}

.time-input input {
  flex-grow: 1;
  margin-right: 10px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}

.total-time {
  margin-top: 20px;
}

.total-time progress {
  width: 100%;
  height: 20px;
}
